.error {
    color: red;
    background-color: rgb(208, 206, 206);
    font-size: 0.9rem;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.notification {
    color: green;
    background-color: rgb(208, 206, 206);
    font-size: 0.9rem;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}